# macOS system files
.DS_Store

# VS code workspace files
.groupedtimelineinclude
*.class

# Log files
*.log
# Build files
build/
dist/
*.o
*.so
*.dll
*.exe
*.out
*.app
*.dSYM
*.pyc
*.pyo
*.egg-info/
*.egg
*.whl
*.ipynb_checkpoints


# Python cache files
__pycache__/

